@using _24Days.Core.Services
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListModel>
@inject IBlockPublicationCheckService publicationCheckService;
@inject Microsoft.AspNetCore.Mvc.ViewComponents.IViewComponentSelector Selector
@{
    if (!Model.Any()) { return; }
}
<div class="umb-block-list">
    @foreach (var block in Model)
    {
        if (block?.ContentUdi == null) { continue; }
        var data = block.Content;

        var isBlockPublished = publicationCheckService.IsBlockPublished(block);
        if (!isBlockPublished)
        {
            continue;
        }

        var viewAlias = data.ContentType.Alias.ToFirstUpper();
        var viewComponent = Selector.SelectComponent(viewAlias);
        if (viewComponent != null)
        {

            @await Component.InvokeAsync(viewComponent.TypeInfo.AsType(), block)
        }
        else
        {
            @await Html.PartialAsync("blocklist/Components/" + viewAlias, block)
        }
    }
</div>
